<!-- ********************* Blog Show *************************** -->
<!-- *********************Showing only the 1 blog selected by the controller show action ****************** -->
<div class="col-sm-8 blog-main"> <!-- This is the largest grid spacing available in order for the blog navbar to be to the right on the page -->

  <!-- <p id="notice"><%= notice %></p> -->


  <h2>Title: <%= @blog.title %></h2>

  <p>Status - <%= @blog.status.capitalize %> &nbsp <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> |
<%= link_to 'Back', blogs_path %></p>
<!--We can access the topic title directly because of the association of the blog with the topic-->
<p>Topic - <%= @blog.topic.title%></p>
  <p>
    <strong>Body:</strong>
    <%= @blog.body %>
  </p>
  
  <%= render 'comments/comment_form' %>
    <!--we use the comments id style class and the data_blog_id to work with the blogs.coffee script-->
    <div id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
    </div>
  
  
   <!--<%# if @blog.comments.count != 0 %>-->
  <!--  <div>----- Previous Comments  -----</div>-->
  <!--  <%#= render @blog.comments %>-->
  <!--<%# end %>-->
</div>